{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<center>
  <h1>
    Python Programming Movie Info<p>
  </h1>
  <form action="/" method=post>
    Movie Title:<br>
    <input type="text" name="MOVIE">
    <br>   
    <input type="submit" value="Get It!">
  </form>
  <p>
  <p>
     
  <table>
    <caption>{{movieTitle}} Information</caption>
    <tr><td><b>Director:</b></td> <td> {{director}}</td></tr>
    <tr><td><b>Lead Actor:</b></td> <td> {{leadActor}}</td></tr>
    <tr><td><b>Release Date:</b></td> <td> {{releaseDate}}</td></tr>

    <tr><td><b>Budget:</b></td> <td> {{budget}}</td></tr>
    <tr><td><b>Revenue:</b></td> <td> {{revenue}}</td></tr>
    <tr><td><b>Run Time:</b></td> <td> {{runTime}}</td></tr>
  </table>
	
{% endblock %}
